.header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.nb2{
    color: crimson;
}
.pt3{
    text-align: center;
    color: blueviolet;
}
.pt4{
    color: chocolate;
    text-align: center;
}
.hb3{
    color: forestgreen;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}
